@page "/createCard"
@inject IJSRuntime JS;


    <h1 class="text-center mt-3 PagesHeaders" id = "Create-Card-Header">Crear Carta</h1>
    <form action="" autocomplete="off" class=" mt-5 Create-Cards-Form">

        <div class="form-floating mb-3 Floating-Form">
            <input type="text" class="form-control rounded-4 Form-Elements" id="floatingInput" placeholder="Nombre de la Carta">
            <label for="floatingInput">Nombre de la Carta: </label>
        </div>
        <div class="form-floating mb-3 Floating-Form">
            <input type="text" class="form-control rounded-4 Form-Elements" id="floatingPassword" placeholder="Texto">
            <label for="floatingPassword">Texto de la Carta simplificado: </label>
        </div>
        <div class="form-floating mb-3 Floating-Form">
            <input type="number" class="form-control rounded-4 Form-Elements" id="floatingPassword" placeholder="Texto">
            <label for="floatingPassword">Coste de Puntos: </label>
        </div>
        <div class="form-floating mb-3 Floating-Form">
            <!--
            <input type="file" class="form-control rounded-4" id="floatingPassword" placeholder="puta"/>
            <label>Select image to upload: <input type="button" /></label>
            -->
            <input type="file" class="form-control rounded-4 Form-Elements" id="floatingPassword" placeholder="Texto">
            <label for="floatingPassword">Imagen: </label>
            
        </div>
    </form>


    <div class="text-center mt-5">

        <div>
            <h3>Forma de usar el mini-lenguaje para crear effectos</h3>
            <p>No existen variables excepto las definidas en el lenguaje, las cuales detallaremos ahora.</p>
            <code class="bg-black p-3">LifeP1,
                LifeP2,
                HandP1,
                HandP2,
                MazoP1,
                MazoP2,
                PointP1,
                PointP2</code>
            <p></p>
        </div>

        <p class="text-light mt-5">Editor de texto:</p>
        <div class="form-floating mb-3">
            <textarea name="" id="" cols="40" rows="20"></textarea>
        </div>

        <div class="mb-3 d-flex justify-content-around">
            <button class="btn btn-primary">Atrás</button>
            <button class="btn btn-primary" onclick="myFunction()">Aceptar</button>
        </div>
    </div>

    @if(name!= "") {
        <p>PutoDavid</p>
    }


@{
    CreateCardBg();
}

@code{

  
    private string name="";
    private void Handler(){
        
    }

    private async void CreateCardBg() {
        await JS.InvokeVoidAsync("CreateCardBG");
    }
}