@page "/History"
@inject IJSRuntime JS;

<img src="images/history.gif" class="body-background" alt="">
<h1 id="text" class="text-center text-light pt-5"></h1>

<div class = "d-flex justify-content-center">
    <button @onclick="StartMusic" id="ver-historia" class="btn history-buttons">Ver Historia</button>
    <a href="/gameEnvironment"><button class="btn history-buttons" id= "pasar-historia">Pasar Historia</button></a>
</div>
<audio id="audio-player">
    <source id="source" src="video/Rolling star.mp3">
</audio>


@code{
    private async void StartMusic() {
     await JS.InvokeVoidAsync("StartHistory");
    }
}