@page "/"
@inject IJSRuntime JS;

<button class="btn btn-primary" id="click-to-play" @onclick="PlayVideo">Click para comenzar</button>
    
    <video id="medio">
        <source src="video/video.mp4">
    </video>

    <a href="/StartMenu" class="video-buttons" id="skipButton"><button class="btn btn-primary">Pasar Video</button></a>
    <a href="/StartMenu" class="video-buttons" id="GoToMenu"><button class="btn btn-primary">Menú Principal</button></a>


@code{
    private async void PlayVideo() {
        await JS.InvokeVoidAsync("iniciar");
        await JS.InvokeVoidAsync("Finished");
    }
}   