@page "/"

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    <link rel="stylesheet" href="complements/bootstrap/css/bootstrap.min.css">
    -->
    
    <link href="pages.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="font/bootstrap-icons.css">  
    <!--
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    -->
    <link href="https://fonts.cdnfonts.com/css/unutterable" rel="stylesheet"> 
    <link href="https://fonts.cdnfonts.com/css/barbarian" rel="stylesheet">
                
                

<!--
    <script src="complements/jquery.js"></script>
    <script src="complements/popper.js"></script>
    <script src="complements/bootstrap/js/bootstrap.bundle.js"></script>
-->
    <title>Conqueror ✶</title>
</head>

<body class="container">

    <h1 class="text-center mt-6 GameTitle">Conqueror ✶</h1>

    <div class="d-flex justify-content-center">

        <div class="border-0 mt-5 mx-0 shadow overflow-hidden MainMenu" style="width: 280px;">
            <ul class="list-unstyled mb-0">
                <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="#">                        
                        Iniciar torneo
                    </a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="#">                        
                        Partida rápida
                    </a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="createCard">                        
                        Editar cartas
                    </a></li>
                <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="#">                 
                        Editar personajes
                    </a></li>
            </ul>
        </div>
    </div>

</body>


@code {
	private Card card;
	private void NewGame()
	{
		Game game = new Game();

		//game.CreateCard("Malanga", 2, "hola soy malanga te manlangueo", "lifeP1 = 30", "1.png");
	}

    
}
