@page "/"
@inject IJSRuntime JS

<h1 class="text-center mt-6 GameTitle">Conqueror ✶</h1>

<div class="d-flex justify-content-center">

    <div class="border-0 mt-5 mx-0 shadow overflow-hidden MainMenu" style="width: 280px;">
        <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="/pvp">                        
                    Iniciar torneo
                </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="/gameEnvironment">                        
                    Partida rápida
                </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="/createCard">                        
                    Editar cartas
                </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 MainMenu-elements" href="#">                 
                    Editar personajes
                </a></li>
        </ul>
    </div>
</div>

 


@{
	Background();   
}
@code{

    private async void Background() {
        await JS.InvokeVoidAsync("IndexBg");
    }
}



