.Player-Image {
    border-radius: 20px;
}
.player-name {
    color: white;
    font-weight: 1000;
    font-size: 250%;
    text-shadow: 1px 1px black;
}
.Cards-and-Buttons{
    font-family: "BlackChery", sans-serif;
}
.Modal-Transition {
    transition: transform 0.1s ease-out;
}

.fondo{  
    position: fixed; 
    height: 60%;
    width: 100%;
    z-index: -1;
}
.background {
    background-color: aqua;
    background: url("images/fondo1.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 70vh;
    width: 100%;
    position: absolute;
}

.head {
    height: 70vh; 
} 
body {
    background-color: aqua;
    background: url("images/hand.webp"); 
    background-size: cover;  
}

.background div, img , p, h4{
    position: relative;
}

.img {
    width: 50vh; 
    transition: transform 500ms;
}

.img-enemy, .img-player {
    height: 50vh;
    min-height: 170px;
    z-index: -5;
}

.img-enemy {
    transform: scaleX(-1);
    color: #63639c; 
    float: right;
} 
.editor {
    display: block;
    position: relative;
    min-height: 200px;
    height: 100px;
    overflow: scroll;
}
.gap {
    margin: 2em;
}

.at {
    position: absolute; 
    z-index: 20;
}

.charms {
    position: absolute;
    z-index: 1;
    width: 40px;
    left: -22;
    height: 40px;
    background-color: #63639c;
    transform: rotate(45deg);
}
.charms p {
    transform: rotate(-45deg);
    font-size: large;
    padding-left: 29%;
    padding-top: 10%;
}

.charms-button, .life-button {
	font-size: 140%;
	text-align: center;
	border-radius: 10px;
  padding: 2% 4%;
}
.life-charms{
    display: block ruby;
}
.card-margin {
    margin-left: 2%;
    margin-bottom: 1%;
}
.card-margin:hover{
    transform: scale(1.2);
    transition: transform 0.15s;
    cursor: pointer;
}

.img-rotate { 
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transform: rotate(90deg);
}
.img-rotate img {
    transform: rotate(-90deg);
}

.my-card { 
    margin-right: 5px;
    border: #63639c solid 4px;   
}

.card-background {
    background: linear-gradient(rgb(122, 64, 64), rgb(95, 86, 86));
}

.z-index-1 { 
    z-index: 23; 
}


.text {
    display: none;
    position: absolute; 
    top: 45vh;
    left: 35vw;
    background-color: rgb(127, 255, 212);
    
    border-radius: 5px;
}

.text::before {
    content: '';
    position: absolute;
    right: 100%; 
    bottom: 30%;
    width: 0;
    border-right: 10px solid rgba(62, 78, 219, 0.555);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
} 


.cont {
    background: blue;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.shape {
    background: blueviolet;
}

.hexagono {
    width: 200px;
    height: 105px;
    background: #63639c;
    position: relative;
}
.hexagono::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #63639c;
}
.hexagono::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid #63639c;
}

.game-environment-background {
    background-image: url("../images/fondo7.jpeg"); 
}

.ShowWinner {
    display: none;
    position: inherit;   
    background-color: rgba(252, 112, 9, 0.48);
    border-radius: 12px;
    border-style: solid;
    border-color:black;
    padding: 3%;
    font-size: 125%;
    margin: auto;
    width: 450px;
    font-family: 'Frabotta', sans-serif;}

.ShowWinner::before {
    content: '';
    position: absolute;
    right: 100%; 
    bottom: 30%;
    width: 0;
    border-right: 10px solid rgba(62, 78, 219, 0.555);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
}

.ErrorMessage {
    display: none;
    position: absolute;   
    background-color: rgba(246, 13, 13, 0.48);
    border-radius: 12px;
    border-style: solid;
    border-color:black;
    padding: 3%;
    font-size: 125%;
    left: 40%;
    font-family: 'Frabotta', sans-serif;
}

.GoToMainMenu {
    color: white;
    text-decoration: none;
}

.GoToMainMenu:hover { 
    color: black;
    text-decoration: none;
}

.ReloadGame {
    text-decoration: none;
    color: white;
    background: none;
    border-style: none;
}
.ReloadGame:hover { 
    color: black;
    text-decoration: none;
}

#effect-enemy {
	left: 18%;
	bottom: 18%;
	position: absolute;
	display: none; 
	width: 42%;
}
.Changes-Ocurred {    
        text-align: center;
        position: relative;
        width: 20%;
        font-size: 18px;
        border-radius: 10px;
}
.players-field {
    justify-content: center;
}

.game-upper-info {
        font-family: "BlackChery", sans-serif;
        font-weight: bolder;
}



/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 200px;
    margin: 20px;
    position: relative;
    transition: transform 0.3s;
    background: none;
    border:none;
  }
  
  @media (max-width: 779px) {
    .card {
      margin: 10px;
    }
  }
  
  .card:hover {
    transform: scale(1.2);
    transition: transform 0.15s;
    cursor: pointer;
  }
  
  .card__background {
    width: 100%;
  }
  
  .card__banner {
    width: 100%;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-51.5%);
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/49240/hand-banner-gold.png")
      0 0 no-repeat;
    background-size: 100% auto;
    z-index: 20;
  }
  
  .card__banner__text {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, 15%);
    z-index: 30;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }
  
  .card__image {
    background: red;
    width: 82%;
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .card--square .card__image {
    top: 13%;
  }
  .card--round .card__image {
    top: 2%;
  }
  .card--pointy .card__image {
    top: 13.5%;
    width: 79%;
    left: 46.5%;
  }
  
  .card__image__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
  }
  
  .card__image__svg {
    width: calc(100% - 2px);
    position: absolute;
    top: -10px;
    left: 2px;
    z-index: 10;
  }
  
  .card--square .card__image__svg {
    top: -5px;
  }
  .card--round .card__image__svg {
    top: -0px;
  }
  .card--pointy .card__image__svg {
    top: -4px;
  }
  
  .card__image__sparkles {
    mix-blend-mode: color-dodge;
  }
  
  .card__description {
    width: 80%;
    height: 37%;
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-53%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    color: #eae3d1;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  .card__description strong {
    color: #efc851;
    font-weight: 400;
  }
  
  .card__orb {
    width: 23%;
    position: absolute;
    top: -4%;
    left: -6%;
    z-index: 50;
  }
  
  .card__orb__image {
    width: 100%;
  }
  
  .card__orb__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2px;
    margin-left: 2px;
    width: 40%;
    opacity: 0.9;
    font-size: 34px;
    color: black;
  }

.AllCardsStyle{
  justify-content: center; 
  width: fit-content; 
  font-family: 'BlackChery', sans-serif; 
  display: flex;
  flex: wrap;
  flex-wrap: wrap; 
  padding: 15px;
}

#Surrender-btn {
 font-size: 125%;
}
#EndTurn-btn {
 font-size: 125%;
}
.Cards-btns {
	border: none;
	border-radius: 5px;
	padding: 6% 15%;
	background: #962d2ce8;
	color: white;
	font-weight: 900;
}
.Cards-btns:hover {
	background: #9e2728;
}
