
#medio {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
nav{ 
    margin: 5px 0px; 
}
.titulo { 
    font: bold 36px verdana, sans-serif; 
    text-shadow: rgba(184, 8, 8, 0.219) 3px 3px 5px ;
    padding: 20px;
}
.video-buttons{
        position: absolute;
        left: 48%;
        top: 90%;
}
#skipButton{
    display: none;
}
#GoToMenu{
    display: none;
}

#click-to-play{
    position: absolute;
    left: 48%;
    top: 4%;
    z-index: 1;
}