
.main-menu-background {
    background-image: url("images/main-menu.jpg") rgb(31, 22, 114); 
}


.GameTitle {
    color: white;
    font-size: 100px;
    font-weight: lighter;
    font-family: 'Barbarian', sans-serif;
}


.MainMenu-elements {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    justify-content: center;
    font-family: 'Unutterable', Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    background-color: #ddd7f166;
}


.ajust-height {
    height: 70px;
}

.cursor {
    cursor: pointer;
}

.my-card {
    box-shadow: rgb(0 0 0) 1px 1px 7px 1px;
    margin-bottom: 10px;
}